name: test workflow 1

on:
  workflow_dispatch:

jobs:

  test-job-1:
    runs-on: windows-latest
    steps:
      - uses: microsoft/setup-msbuild@v1.0.2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: msbuild -help
      - run: python --help
      - run: pip --help
      - run: |
          git clone https://github.com/mfichman/winbrew
          cd winbrew
          pip install .
          python -m winbrew.execute install luajit
