name: test workflow 2

on:
  workflow_dispatch:

jobs:

  test-job:
    runs-on: windows-latest
    steps:
      - uses: lukka/run-vcpkg@v5
        with:
          setupOnly: true
          vcpkgGitCommitId: HEAD
      - run: vcpkg export --zip --output=test zlib
      - uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: ${{env.VCPKG_ROOT}}/test.zip
